<div style="direction: rtl;">

<h1>شروط الاستخدام</h1>
 <span>يُرْجَى منك قراءة هذه الشروط والأحكام بعناية قبل استخدام هذه المنصة الإلكترونية
شروط الاستخدام الواردة أدناه ("شروط الاستخدام") تنطبق على دخولك على استخدامك لأي مواقع إلكترونية تمتلكها و/أو تديرها حلطمة (يشار إليها هاهنا بـــ "حلطمة" أو "نحن") بما في ذلك المواقع الإلكترونية التي تتوفر لك تحت أية علامة تجارية رسمية ابتكرتها حلطمة أو تم ابتكارها بالنيابة عنها ويشمل ذلك (دون حصر):
حلطمة وكافة الصفحات الإلكترونية والنطاقات الفرعية والأجزاء الفرعية لتلك المنصات الإلكترونية.
</span>

<br>
<h2>استخدامك لحلطمة يعني قبولك لشروط الاستخدام هذه</h2>
<span>
    إن استخدامك لحلطمة يعني تأكيدك على قبولك لشروط الاستخدام هذه وبأنك توافق على الامتثال لهذه الشروط. في حال لم توافق علىشروط الاستخدام هذه فإنه يتعين عليك عدم استخدام حلطمة.
</span> 

<br>
<h2>يجب أن يكون عمرك على الأقل 18 عاماً لكي يتسنى لك استخدام حلطمة</h2>
<span>
    لا يمكنك استخدام حلطمة أو التسجيل لإنشاء حساب على حلطمة أو استخدام خدماتنا إذا كان عمرك دون 18 عاماً ("قاصر"). إذا كنت ستقوم باستخدام حلطمة بالنيابة عن أحد القُصَّر فإنك توافق على شروط الاستخدام هذه بالنيابة عن ذلك الشخص القاصر كما أنك تؤكد على تمتعك بالصلاحية اللازمة للقيام بذلك. وفي حال لم تكن تملك تلك الصلاحية فيتوجب عليك عدم استخدام حلطمة. 
</span>

<br>
<h2>هنالك شروط أخرى قد تنطبق عليك</h2>
<span>
    شروط الاستخدام هذه تشير أيضاً إلى الشروط الإضافية التالية والتي تنطبق على استخدامك لمنصتنا الإلكترونية:
</span> 

<br>
<h2>سياسة الخصوصية</h2>
<span>
    وهي توضح الشروط التي نقوم على أساسها بمعالجة بياناتك الشخصية التي نجمعها منك أو التي تقوم أنت بتزويدنا بها. بموجب استخدامك لحلطمة فإنك توافق على تلك المعالجة لبياناتك كما أنك تضمن بأن كافة البيانات التي تقدمها لنا هي بيانات دقيقة.
</span> 

<br>
<h2>الشروط والأحكام الخاصة بالغير (الطرف الثالث)</h2>
<span>
    قد نقوم نحن؛ أو مزودي الخدمات من الغير/الأطراف الثالثة؛ بتوفير أدوات أو روابط إلى مواقع إلكترونية أو تطبيقات إلكترونية أو مصادر أوخدمات أخرى تدار من قبل الغير/الأطراف الثالثة والتي تكون قد استُخْدِمت على أو تم دمجها مع أو ربطها بحلطمة (يشار إلى أي مما سبق بــــ "خدمة مقدمة من طراف ثالث"). عندما تقوم باستخدام خدمة مقدمة من طرف ثالث فإنك بذلك لا تتعامل معنا. وكذلك فإذا اخترت استخدام خدمة يقدمها طرف ثالث فإنك تُقِر وتقبل بخضوعك لشروط الاستخدام وسياسة الخصوصية الخاصة بذلك الطرف الثالث وتحديثاتها من وقت لآخر. كما أن دخولك على أو استخدامك لخدمة ما مقدمة من طرف ثالث يكون على مسؤوليتك الخاصة وتتحمل وحدك أية مخاطر متعلقة بذلك. نحن لا نتحمل أية مسؤولية بخصوص استخدامك لأية خدمة ما مقدمة من طرف ثالث. كما تُقِر بأنك مسؤول عن البحث عن ومراجعة أحدث النسخ الخاصة بالخدمات التي يقدمها الغير/الأطراف الثالثة قبل استخدامك لخدماتهم.
</span> 

<br>
<h2>قد نقوم بإجراء تغييرات</h2>
<span>
    قد نقوم بتعديل شروط الاستخدام هذه من وقت لآخر. ويتعين عليك؛ في كل مرة تود استخدام منصتنا الإلكترونية؛ التحقق من هذه الشروط للتأكد من إحاطتك بالشروط التي تنطبق في ذلك الوقت. إن استمرارك في استخدام الموقع الإلكتروني يشكل قبولك لأي تغييرات تحدث. قد نقوم بتحديث وتغيير منصتنا الإلكترونية من وقت لآخر.
</span> 

<br>
<h2>قد نقوم بتعليق عمل حلطمة أو سحبها</h2>
<span>
    منصتنا الإلكترونية متاحة مجاناً غير أن بعض الخدمات المقدمة من خلال منصتنا الإلكترونية قد تخضع لرسوم من وقت لآخر. في حال كانت أية خدمة من الخدمات المقدمة عبر حلطمة تخضع لأية رسوم فإنه سيتم ذكر ذلك بشكل واضح في ذلك القسم المعني من منصتنا الإلكترونية.
    نحن لا نضمن أن تكون منصتنا الإلكترونية أو أي من محتوياتها متاحةً بصفة دائمة أو أنه لن يحدث لها انقطاع. كما يجوز لنا تعليق أوسحب أو تحديد توافر كافة أو أي جزء من أجزاء منصتنا الإلكترونية وذلك لأية أسباب تتعلق بالأعمال أو أسباب تشغيلية. وعلى الرغم من ذلك الحق في تعليق أو سحب منصتنا الإلكترونية فإننا دون التزام منا سنحاول توجيه إشعار مسبق بمدة معقولة بخصوص أية عملية تعليق أو سحب. كما أنك تكون مسؤولاً عن التأكد من أن جميع الأشخاص الذين يدخلون إلى منصتنا الإلكترونية باستخدام شبكة الإنترنت الخاصة بك يحيطون بشروط الاستخدام هذه وكذلك بالشروط والأحكام الأخرى المنطبقة وبأنهم يمتثلون لتلك الأحكام والشروط.
</span>

<br>
<h2>بياناتك على حلطمة</h2>
<span>
    منصتنا الإلكترونية لا يقوم بحفظ البيانات الخاصة بك لإعطاء المستخدم أعلى قدر من الخصوصية وبالتالي لن يكون مسؤولاً عن الاحتفاظ بالبيانات الخاصة بك ولن يكون هنالك أي التزام من أي نوع.
</span>

<br>
<h2>أحقية حلطمة الأدبية</h2>
<span>
    يملك حلطمة الحق الأدبي باستخدام أي من المنشورات والمكتوب لديه بأي صورة كانت، دعائية أو تجارية أو خلافه، بملكية كاملة وأحقية تصرف لا تخضع لقيود مع الحفاظ على سرية البيانات إن وجدت.
</span> 

<br>
<h2>الحساب الخاص بك على منصتنا الإلكترونية</h2>
<span>
    يحق لك الاحتفاظ بحساب واحد فعَّال على منصتنا الإلكترونية ("الحساب")
    الحسابات المسجلة باستخدام عنوان البريد الإلكتروني الخاص بشخص آخر سيتم غلقها دون الحاجة إلى توجيه شعار. قد نطلب من مستخدمينا بإعادة توثيق حساباتهم في حال كان لدينا اعتقاد باستخدامهم لعناوين بريد إلكترونية غير صحيحة. في حال إنشاء عدة حسابات من قبل نفس الشخص فإنه سيتم دمجها جميعاً في الحساب الأحدث الذي تم إنشاؤه أو الدخول من خلاله من بين تلك الحسابات. كما يتم دمج جميع المحتويات من كافة تلك الحسابات في الحساب المنفرد الجديد.
    يتعين عليك التعامل بسرية مع كلمة المرور الخاصة بحسابك وكذلك مع أية معلومة أخرى تم توفيرها كجزء من إجراءاتنا الأمنية ولا يجوز لك الإفصاح عن أي من ذلك إلى أي طرف ثالث.
    لنا الحق في وقف أي حساب مستخدم في أي وقت في حال ارتأينا؛ بشكل معقول؛ بأنك لم تمتثل لأي نص من نصوص شروط الاستخدام هذه.
    وفي حال كنت على دراية أو كانت لديك شكوك بأن أي شخص بخلافك يعلم رمز التعريف أو كلمة المرور الخاصة بك فإنه يتعين عليك إبلاغنا فوراً بذلك. 
</span>

<br>
<h2>كيف يمكنك استخدام محتويات حلطمة</h2>
<span>
    نحن المالك أو المُرَخَّص له لكافة حقوق الملكية الفكرية في منصتنا الإلكترونية وكذلك في المواد المنشورة عليها (باستثناء ما يتعلق بالخدمات المقدمة من الغير/الأطراف الثالثة). وهذه المحتويات محمية بموجب القوانين والمعاهدات الخاصة بحقوق الطبع والنشر في المملكة العربية السعودية وحول العالم. وكافة هذه الحقوق محفوظة.
    يجوز لك طباعة نسخة واحدة وتحميل مستخرجات من أية صفحات من منصتنا الإلكترونية لاستخدامك الشخصي كما يجوز لك لفت انتباه الآخرين للمحتوى المنشور على منصتنا الإلكترونية. كما أن مستخدمي منصتنا الإلكترونية لديهم رخصة محدودة لاستخدام (عرض أوطباعة) المعلومات الموجودة على منصتنا الإلكترونية وذلك لاستخدامهم الشخصي فقط وليس التجاري.
    يحظر عليك القيام بأي شكل من الأشكال بتعديل النسخ الورقية أو الرقمية من أية مواد قمت بطباعتها أو تحميلها، كما يحظر عليك استخدام أية شروحات أو صور ضوئية أو مقاطع فيديو أو مقاطع صوتية أو أية رسوم بيانية بشكل منفصل عن أي نص يكون مقترناً بها.
    يجب دائماً الاعتراف بوضعنا (وكذلك بوضع أي من المساهمين المُعَرَّفِين) كمؤلفين للمحتوى المعروض على منصتنا الإلكترونية.
    يحظر عليك استخدام أي جزء من أجزاء المحتوى المعروض على منصتنا الإلكترونية لأغراض تجارية دون الحصول على رخصة للقيام بذلك.  
    إذا قمت بطباعة أو نسخ أو تحميل أي جزء من أجزاء منصتنا الإلكترونية بالمخالفة لنصوص شروط الاستخدام هذه فإن حقك في استخدام حلطمة سيتوقف على الفور وسيتعين عليك؛ وفق ما نقرره؛ إما إعادة أو إتلاف أية نسخ من المواد قد قمت بعملها.
    لا يجوز نسخ أو تخزين أي جزء من أجزاء حلطمة على أي موقع إلكتروني آخر دون موافقتنا الخطية المسبقة بذلك. 
</span>

<br>
<h2>لا تستند إلى المعلومات الموجودة على هذه المنصة الإلكترونية</h2>
المحتوى المعروض على حلطمة هو فقط من باب المعلومات العامة وليس القصد من ورائه أن يرقى إلى أن يكون مشورةً تستند إليها. يتعين عليك الحصول على مشورة مهنية أو تخصصية قبل قيامك أو امتناعك عن اتخاذ أي إجراء يستند إلى المحتوى المعروض على حلطمة.
وعلى الرغم من أننا نقوم ببذل الجهود المعقولة لتحديث المعلومات الموجودة على حلطمة إلا أننا لا نقدم أي ادعاءات أو إقرارات أو ضمانات؛ سواء بشكل صريح أو ضمني؛ بأن المحتوى المعروض على حلطمة دقيق أو كامل أو مُحَدَّث. وفي حين أننا نقوم ببذل كافة الجهود لتقديم معلومات دقيقة وموثوقة على منصتنا الإلكترونية إلا أننا لا نصادق على ولا نعتمد أو نؤكد على صحة هذه المعلومات ولا نقدم أي ضمان بخصوص دقة أو كمال تلك المعلومات. 

<br>
<h2>حلطمة ليست تطبيقاً صحياً</h2>
<span>
    حلطمة ليست منصة صحية تغنيك عن الحاجة إلى أطباء مختصين في حال وجود حاجة لذلك، هي مجرد واجهة تتيح لك التعبير والتنفيس دون أدنى مسؤولية على حلطمة الإلكترونية بتحليل أو دراسة المكتوب علماً أن بيانات المستخدم ستكون سرية.
</span>

<br> 
<h2>لسنا مسؤولين عن الروابط للمواقع الإلكترونية الأخرى</h2>
<span>
    حيثما تضمنت حلطمة روابط لمواقع إلكترونية ومصادر أخرى تم تقديمها من قبل أطراف ثالثة فإن مثل تلك الروابط تقدم إليك لمعلوماتك فقط وعلى أساس حالتها التي هي عليها دون أي ضمان؛ سواء صريح أو ضمني؛ فيما يتعلق بأي من محتويات المواقع الإلكترونية التي تعود إلى تلك الأطراف الثالثة.
    لا يجوز تفسير تلك الروابط على أنها موافقة من قبلنا على تلك المواقع الإلكترونية أو المعلومات التي قد تحصل عليها من تلك المواقع. كما أنه لا يجوز تفسير رابطٍ ما لموقع إلكتروني آخر أو منصة إلكترونية أخرى على أنه يشير ضمنياً إلى أننا مرتبطون أو مخولون قانوناً باستخدام أية علامات تجارية أو أسماء تجارية أو شعارات أو رموز ذات حقوق نشر قد تكون موجودة في أو عبر الرابط. كما أننا لا نتحمل أية مسؤولية بخصوص أية أدوات أو منتجات أو محتويات يملكها أي طرف ثالث وتكون معروضة أو متوفرة لك على منصتنا الإلكترونية أو لأي مواقع تخص أي أطراف ثالثة قد يكون هناك بينها وبين موقعنا/مواقعنا أية روابط..
    نحن لا نتحكم في المحتويات المعروضة على تلك المواقع / المنصات الإلكترونية أو المصادر وكذلك فإنه لا يجوز تفسير أي من تلك الروابط على أنه يشكل تصديقاً من قبلنا على أي منتج أو خدمة. 
</span>

<br>
<h2>المحتوى الذي يتم إنشاؤه من قبل المستخدم هو محتوىً غير معتمد من قبلنا</h2>
<span>
    قد تتضمن منصتنا الإلكترونية معلومات ومواد تم تحميلها من قبل مستخدمين آخرين للمنصة ويشمل ذلك مواقع التواصل الاجتماعي ولوحات النشرات والميزات التفاعلية. هذه المعلومات وتلك المواد لم يتم التحقق منها أو اعتمادها من قبلنا كما أن الآراء المعلنة من قبل المستخدمين الآخرين على منصتنا الإلكترونية هي آراء تخص أصحابها ولا تمثل آرائنا أو قيمنا.
</span> 

<br>
<h2>لسنا مسؤولين عن الفيروسات ويحظر عليك إدخالها</h2>
<span>
    نحن لا نضمن بأن حلطمة ستكون آمنة أو خالية تماماً من الفيروسات أو الأخطاء البرمجية.
    تكون أنت مسؤولاً عن ضبط تقنية المعلومات وبرامج الحاسوب والمنصات الخاصة بك لغرض الدخول إلى منصتنا الإلكترونية كما يتعين عليك استخدام برمجياتك الخاصة للحماية من الفيروسات الإلكترونية.
    يتعين عليك ألا تسيئ استخدام منصتنا الإلكترونية عن عمد من خلال نشر؛ أو محاولة نشر؛ الفيروسات أو التروجان (Trojan) أو الديدان الإلكترونية أو القنابل المنطقية أو المواد الأخرى الضارة تكنولوجياً. يتعين عليك ألا تسعى للحصول على حق دخول غير مصرح به إلى حلطمة الإلكترونية أو إلى الخادم الذي تم تخزين منصتنا الإلكترونية عليه أو أي خادم أو جهاز حاسوب أو قاعدة بيانات متصلة بمنصتنا الإلكترونية. ولا يجوز لك مهاجمة منصتنا الإلكترونية من خلال هجوم بسبب الحرمان من الخدمة أو من خلال هجوم موزع بسبب الحرمان من الخدمة. مخالفتك لهذه الأحكام قد تؤدي إلى ارتكابك مخالفة جنائية بموجب قوانين المملكة العربية السعودية و/أو أية دولة أخرى ذات صلة. سنقوم بالإبلاغ عن مثل تلك المخالفات إلى الجهات المختصة بإنفاذ القانون وسنتعاون مع تلك الجهات من خلال الكشف عن هويتك لها. وفي حال وقوع أي مخالفة من جانبك فإن حقك في استخدام منصتنا الإلكترونية سوف يتوقف على الفور. 
</span>

<br>
<h2>القواعد الخاصة بوضع روابط لمنصتنا الإلكترونية</h2>
<span>
    يجوز لك عمل رابط لصفحتنا الرئيسية شريطة أن تقوم بذلك بطريقة عادلة ومشروعة ولا تضر بسمعتنا أو تستغلها.
    يحظر عليك عمل رابط لمنصتنا الإلكترونية بأي طريقة تزعم وجود أي نوع من الارتباط بينك وبيننا أو اعتماد أو مصادقة من قبلنا على خلاف الحقيقة. كما يحظر عليك عمل رابط لمنصتنا الإلكترونية على أي جزء من أي موقع إلكتروني أو منصة إلكترونية لا تملكها أو تخضع لسيطرتك.
    مالم نقم بمنحك تصريحاً صريحاً بخصوص إمكانية قيامك بعمل روابط لمنصتنا الإلكترونية فإنه يحظر عليك وضع منصتنا الإلكترونية على أي موقع إلكتروني أو منصة إلكترونية، كما يحظر عليك عمل أية روابط لأي جزء من منصتنا الإلكترونية بخلاف الصفحة الرئيسية.
    ونحتفظ بحقنا في سحب التصريح الخاص بعمل الرابط دون الحاجة إلى توجيه إشعار.
 </span>

<br>
<h2>إخلاء مسؤولية</h2>
<span>
    استخدامك لمنصتنا الإلكترونية يكون على مسؤوليتك الخاصة وتتحمل وحدك أية مخاطر متعلقة بذلك ولا نتحمل أية مسؤولية بهذا الخصوص ونخلي مسؤوليتنا تماماً إلى أقصى حد يسمح به القانون.
    كما أننا نخلي مسؤوليتنا ولا نستثني كافة الضمانات؛ سواء كانت صريحة أو ضمنية؛ ولا نكون مسؤولين عن أية تعويضات (ويشمل ذلك؛ دون حصر؛ التعويض عن خسارة الأعمال أو الربح الفائت) تنشأ عن استخدام أو عدم القدرة على استخدام هذا الموقع الإلكتروني أو أية مواد يتضمنها أو التي تنشأ عن أي شكل من التصرفات أو القرارات المتخذة كنتيجة لاستخدام هذا الموقع أو أي من تلك المواد.
    إن الأنشطة والفعاليات المعروضة على منصتنا الإلكترونية قد لا تكون مناسبةً لك أو لعائلتك ولا نقدم أية مشورة بخصوص مناسبة أو عدم مناسبة مثل تلك الأنشطة والفعاليات. كما أننا لن نكون مسؤولين تجاه أي شخص أو كيان عن أي إصابة أو خسارة أو ضرر يحدث أو يزعم وقوعه سواء بشكل مباشر أو غير مباشر نتيجةً لاستخدام أو تفسير المواد أو نتيجةً للمشاركة في أي نشاط أو فعالية معروضة على منصتنا الإلكترونية. كما أننا لن نكون مسؤولين عن أي تصرف أو إغفال أو مشورة صادرة عن أي طرف ثالث قمنا بتقديمها إلى المستخدمين كجزء من منصتنا الإلكترونية أو من خلالها. 
    شروط عامة
    شروط الاستخدام هذه وموضوعها وصياغتها (وكذلك أية نزاعات أو مطالبات غير تعاقدية) تحكمها قوانين المملكة العربية السعودية وتخضع للاختصاص الحصري لمحاكم المملكة العربية السعودية.
    في حال تقرر أن أي من هذه الشروط غير قانوني أو غير نافذ أو غير قابل للتنفيذ وفقاً لقوانين البلد الذي يقصد أن تكون هذه الشروط نافذةً فيها فإنه؛ وإلى الحد الذي تكون به أي من هذه الشروط غير قانوني أو غير نافذ أو غير قابل للتنفيذ في البلد الذي يقصد أن تكون هذه الشروط نافذةً فيها؛ يتم فصل وحذف تلك الأحكام من الفقرة ذات الصلة وتبقى بقية الشروط والأحكام نافذةً وبكامل الأثر وتستمر في كونها ملزمةً ونافذةً.
</span>
</div>